ion-header {
  text-align: center;
}

.container ion-button {
  margin: 2px;
  --border-radius: 5px;
}

.container {
  position: absolute;
  bottom: 0px;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}

.operation {
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.content .item1 {
  width: 23vw;
  height: 100px;
  --ion-color-primary: rgb(131, 131, 12);
  font-size: 2rem;
}

.inputBtn {
  position: absolute;
  top: 30px;
  width: 100vw;
  font-size: 2rem;
}

.inputBtn label{
  font-size: 1.5rem;
  margin: 10px;
}

.inputContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(131, 131, 12);
  margin: 0 10px;
}

.history {
  margin: 10px;
}

.result {
  margin: 10px;
}
