<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HOME</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        WELCOME...
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>My name is Jhayceevil Bocarile and this is my Activity 8.</strong>
    </ion-card-content>
  </ion-card>

  </div>
</ion-content>
