<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-title>Portfolio</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card>
        <ion-card-header>
            <ion-avatar>
                <img src="../../assets/images/jcpic.jpg" />
            </ion-avatar>
            <h1>Jhayceevil Bocarile</h1>
        </ion-card-header>
        <ion-card-content>
            <p>
                Hi! Wanna know who I am? My name is Jhayceevil R. Bocarile I'm 18 years old and live in Barangay Marulas Valenzuela City. Currently I'm studying at Pamantasan Ng Lungsod Ng Valenzuela taking a Bachelor of Science in Information Technology 2nd year college. Why IT? To be precise, they said that there are many opportunities, but now I'm thinking it's really difficult. They also say that nothing is easy in college, like college is the first step into the real world when you're already working in the industry, and I hope that if that happens, I'll survive until the end.
            </p>
        </ion-card-content>
    </ion-card>
    <div class="btn">
        <ion-button (click)="logOut()" color="danger">LOGOUT</ion-button>
    </div>
</ion-content>